body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  background-color:aliceblue;
  margin: 100px;
  background-image: url('src/nocompiuter.jpg');
  background-repeat: no-repeat;
  background-position: 330px 50px;
  background-size: 300px 270px;
}
h1 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

}
h2 {
  text-align: center;
}
.center {
  text-align: center;
}
.margin {
  margin-top: 5px;
  margin-bottom: 5px;
  
}
