

body{
    background-color: #FFF8EF;
}
.font-color1{
    color: #173660;
    opacity: 68%;
    
}
.font-color2{
    color: black;
}
.font-color3{
    color: #FF914D;
}

@font-face {
    font-family: Alata;
    src: url(src/Alata/Alata-Regular.ttf);
  }

@font-face {
    font-family: Abel;
    src: url(src/Abel/Abel-Regular.ttf);
  }

@font-face {
    font-family: BVTPro SemiBold;
    src: url(src/Be_Vietnam_Pro/BeVietnamPro-SemiBold.ttf);
  }
@font-face {
    font-family: BVTPro ExtraLight;
    src: url(src/Be_Vietnam_Pro/BeVietnamPro-ExtraLight.ttf);
  }
@font-face {
    font-family: BVTPro Light;
    src: url(src/Be_Vietnam_Pro/BeVietnamPro-Light.ttf);
  }
@font-face {
    font-family: Overpass SemiBold;
    src: url(src/Overpass/static/Overpass-SemiBold.ttf);
  }
@font-face {
    font-family: Overpass Medium;
    src: url(src/Overpass/static/Overpass-Medium.ttf);
  }
@font-face {
    font-family: Viga;
    src: url(src/Viga/Viga-Regular.ttf);
  }

nav{
    font-family:Alata;
    font-size: 16px;
}

nav > a{
  color: #173660;

}

.nav-link{
    position: relative;
    padding: 0;
}

.nav-link::after{
    content: '';
    position: absolute;
    left:0;
    bottom: -6px;
    width: 100%;
    height: 4px;
    background:#FF914D;
    border-radius: 40px;
    transform: scaleX(0);
    transition: transform .3s;
}
.nav-link:hover::after{
    transform: scaleX(0.4);
}
.logos{
    position: relative;
    overflow: hidden;
    white-space: nowrap;

}
.logos:before,
.logos:after{
    position: absolute;
    top: 1;
    width: 250px;
    height: 121px;
    content: "";
    z-index: 2;
}

.logos::before{
   
    left: 0;
    background: -webkit-linear-gradient(right, rgba(255,0,0,0),#FFF8EF );
}
.logos::after{
   
    right: 0;
    background: -webkit-linear-gradient(left, rgba(255,0,0,0),#FFF8EF );
}
.logos-slide img{
    margin: 0 7px;
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos-slide{
    display: inline-block;
    animation: 40s slide infinite linear;
}


.main-title{
  margin-left: 1%;
  font-family: BVTPro SemiBold;
  font-size: 55px;
  text-align: center;
  position: relative;
 
}
.title{
  margin-left: 1%;
  font-family: BVTPro SemiBold;
  font-size: 55px;
  text-align:right;
}

.main-title::after{
  content: "";
  border-top: 8px solid #FF914D;
  border-radius: 10px;
  width: 22%;
  position: absolute;
  top: 105%;
  left: 38.9%;
}

#p{
  font-family: Overpass SemiBold;
  font-size: 21px;
}
#about-list li{
  list-style: none;
  padding-left: 0;
  line-height: 30px;
  font-family: Overpass Medium ;
  font-size: 17px;
}

#about-list i{
  color: #FF914D;
  margin-right: 15px;
}
#carouselll .gtco-testimonials {
    position: relative;
    margin-top: 30px;
    }
  
    #carouselll  .owl-stage-outer {
      padding: 20px;
    }
   
  
    #carouselll  .card {
      /* height: 400px;
      width: 700px; */
      background: #FFF8EF;
      box-shadow: 0 8px 20px -7px #173660;
      overflow: hidden;
    }
  
    #carouselll  .active {
      opacity: 0.5;
      transition: all 0.9s;
      transform: scale(0.9);
    }
  
    #carouselll .center {
      opacity: 1;
      transform: scale(1.1);
      transition: all 0.9;
      }

      
  @media (max-width: 767px) {
    .gtco-testimonials {
      margin-top: 20px;
    }
  }
  
  #carouselll  .owl-carousel {
    .owl-nav button {
      &.owl-next, &.owl-prev {
        outline: 0;
      }
    }
  }

  .service-box{
    text-align: center;
    margin-bottom: 50px;
  }

  .service-box i, .service-box h4{
    transition: .5s;
  }
  
  .service-box i{
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
  }
  
  .service-box h4{
    font-size: 24px;
    margin-bottom: 20px;
    font-family: BVTPro Semibold;
  }

  .service-box p{
    font-family: BVTPro Light;
    font-size: 15px;
  }
  .service-box:hover > i, .service-box:hover > h4{
    color: #FF914D;
  }

  .profile-card {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    text-align: center;
    height:500px;
    border:none;
    box-shadow: 0px 0px 10px #444;
  }
  .profile-card .background-block {
      float: left;
      width: 100%;
      height: 200px;
      overflow: hidden;
  }
  .profile-card .background-block .background {
    width:100%;
    vertical-align: top;
    opacity: 0.9;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
     -webkit-transform: scale(1.8);
    transform: scale(2.8);
  }
  .profile-card .card-content {
    width: 100%;
    padding: 15px 25px;
    color:#232323;
    float:left;
    background:#fab990;
    top: 290px;
    height:50%;
    border-radius:0 0 5px 5px;
    position: relative;
    z-index: 9999;
  }
  .profile-card .card-content::before {
      content: '';
      background: #fab990;
      width: 120%;
      height: 100%;
      left: 11px;
      bottom: 51px;
      position: absolute;
      z-index: -1;
      transform: rotate(-13deg);
  }
  .profile-card .profile {
    border-radius: 50%;
    height: 220px;
    width: 220px;
    position: absolute;
    bottom: 40%;
    left: 50%;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    z-index:99999;
  }
  .profile-card h3 {
    font-family: BVTPro SemiBold;
    margin-top: 15px;
    font-weight: 600;
    font-size:25px;
  }
  .profile-card h3 small {
    font-family:BVTPro light ;
    display: block;
    font-size: 15px;
    margin-top:5px;
  }
  .profile-card i {
    display: inline-block;
      font-size: 16px;
      color: #232323;
      text-align: center;
      border: 1px solid #232323;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      margin:0 5px;
  }
  .profile-card .icon-block{
      float:left;
      width:100%;
      margin-top:15px;
  }
  .profile-card .icon-block a{
      text-decoration:none;
  }
  .profile-card i:hover {
    background-color:#173660;
    color:#FF914D;
    text-decoration:none;
  }

  .card-bg{
    background-color:#f1e8e894;
  }
  
  .pop{
    transition: transform .2s;
  }
  
  .pop:hover{
    transition: transform .2s;
    transform: scale(1.02);
}

.button-quote{
  width: 284px;
  height: 70px;
  border-radius: 44px;
  background: #FF914D;
  border: none;
}
.button-quote-outline{
  width: 234px;
  height: 70px;
  border-radius: 44px;
  border: 3px solid #FF914D;
  background-color: #FFF8EF;
}

#quote p{
  color: #173660;
  margin: 5px;
  text-align: center;
  font-family: Viga;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer i:hover {
  color: #FF914D;
  text-decoration: none;

}

#testims .testimonial{ 
  margin: 0 10px; 
}
#testims .testimonial .testimonial-content{
    margin: 20px 0 50px 0;
    position: relative;
}
#testims .testimonial .testimonial-content:after{
    content: "";
    width: 20px;
    height: 20px;
    border-top: 20px solid #173660;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 0 auto;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
}
#testims .testimonial .description{
    padding: 60px;
    font-family: BVTPRO SemiBold;
    text-align: center;
    background: #173660;
    min-height: 200px;
    border-radius: 15px;
    font-size: 18px;
    color: #FF914D;
    position: relative;
}
#testims .testimonial .description:before,
#testims .testimonial .description:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 8px;
    text-align: center;
    background: #173660;
    position: absolute;
}
#testims .testimonial .description:before{
    content: "\f10d";
    top: -18px;
    left: 25px;
}
#testims .testimonial .description:after{
    content: "\f10e";
    bottom: -18px;
    right: 25px;
}
#testims .testimonial .testimonial-profile{
    display: table;
    padding: 15px;
    border: 1px solid #173660;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
}
#testims .testimonial .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #173660;
    float: left;
    overflow: hidden;
}
#testims .testimonial .title{
    display: inline-block;
    margin: 0 0 0 30px;
    font-size: 19px;
    font-weight: bold;
    color: #173660;
    position: relative;
    top: 22px;
}
#testims .testimonial .title:before{
    content: "";
    width: 1px;
    height: 70px;
    background: #173660;
    position: absolute;
    top: -8px;
    left: -15px;
}
#testims .testimonial .post{
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: #FF914D;
    margin-top: 10px;
}
#testims .owl-theme .owl-controls{
    margin-top: 30px;
}
#testims .owl-theme .owl-controls .owl-page span{
    background: transparent;
    border: 1px solid #173660;
    opacity: 1;
}
#testims .owl-theme .owl-controls .owl-page.active span{
    background: #173660;
    border: 1px solid #173660;
}
@media only screen and (max-width: 479px){
  #testims .testimonial .description{
        padding: 20px;
        font-size: 16px;
    }
    .testimonial .testimonial-profile{ padding: 10px; }
    .testimonial .title{ font-size: 16px; }
    .testimonial .post{ font-size: 13px; }
}

#contact{
  text-align: center;
}

.contact-box{
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.contact-box i{
  font-size: 30px;
  color: #232323;
  text-align: center;
  border: 1px solid #232323;
  width: 75px;
  height: 75px;
  line-height: 75px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.contact-box p {
  font-family: BVTPro SemiBold;
  font-size: 16px;
}

.contact-title{
  font-family: BVTPro Semibold;
  font-weight: bold;
  color: #FF914D;
}

.contact-box i:hover{
  background-color: #173660;
  color: #FF914D;
}