*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: rgb(238, 213, 156);
    background-image: url(src/1183017.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
#total{
    margin: auto;
    width: 1300px;
}

#head{
    height: 119px;
    background-color: rgb(133, 188, 120);
    padding-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

#banner{
    height: 300px;
    background-color:rgb(177, 133, 96);
    background-image: url(src/animal-crossing-new-horizons-banner.jpg);
    background-repeat: no-repeat;
    

}
#cont{
    height: 600px;
    padding-top: 10px;
    background-color: rgb(154, 103, 60);
}
#map{
    background-image: url(src/Vector.png);
    height: 560px;
    background-color:rgb(177, 133, 96);
    
}
#foot{
    height: 190px;
    background-color: rgb(154, 103, 60);
    padding-top: 10px;
    padding-left: 10px;
}
.tab{
    height: 580px;
    width: 420px;
    background-color: rgb(212, 169, 127);
    border-radius: 2%;
}
.margin{
    margin-left: 10px;
    float: left;
}

iframe{
    filter: invert(90%) hue-rotate(180deg)
}


#menu{
    margin-top: 24px;
    background-color: rgb(189, 240, 179);
    height: 60px;
    width: 633px;
    float: left;
    margin-left: 343px;
    border-radius: 15px;

}
#address{
    background-color: rgb(212, 169, 127);
    height: 180px;
    width: 1090px;
    border-radius: 15px;

}
#social{
    /* background-color: rgb(212, 169, 127); */
    height: 180px;
    width: 170px;
    border-radius: 5%;
}
.img1{
  position: fixed;
  object-fit: cover;
}
.margemE{
    margin-left: 10px;
    float: left;
}
@font-face {
    font-family: KGRedHands;
    src: url(src/KGRedHands.ttf) format("truetype")
}
p{
    font-family:KGRedHands;
    color: rgb(178, 96, 58);
    font-size: 22px;
}
.men{
    padding: 16px;
    margin-left: 210px;
}
.c{
    margin:20px ;
    margin-top: 23px;
}
.test:hover{
    transition: transform .2s;
    transform: scale(1.01);
}
.tes2{
    transition: transform .2s;
}

