*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

#total{
    margin: auto;
    width: 1300px;
}

#head{
    height: 130px;
    background-color: rgb(6, 6, 33);
    padding-top: 10px;

}

#banner{
    height: 400px;
    background-color: rgb(9, 9, 57);
}
#cont{
    height: 600px;
    padding-top: 10px;
    background-color: rgb(6, 6, 33);
}
#map{
    height: 300px;
    background-color: rgb(9, 9, 57);
}
#foot{
    height: 190px;
    background-color: rgb(6, 6, 33);
    padding-top: 10px;
    padding-left: 10px;

}
.tab{
    height: 580px;
    width: 420px;
    background-color: rgb(18, 18, 109);
}
.margin{
    margin-left: 10px;
    float: left;
}

iframe{
    filter: invert(90%) hue-rotate(180deg)
}

#logo{
    background-color: rgb(18, 18, 109);
    height: 120px;
    width: 150px;
}
#menu{
    background-color: rgb(18, 18, 109);
    height: 120px;
    width: 1120px;
    float: left;
    margin-left: 10px;
}
/* #address{
    background-color: rgb(18, 18, 109);
    height: 180px;
    width: 1090px;
} */
#socials{
    background-color: rgb(18, 18, 109);
    height: 100px;
    width: 100px;
    float: left;
}